{% extends 'layout.html' %} 
{% load static %}
{% block registro %}

<script src="https://momentjs.com/downloads/moment.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="container">
   
    <form method="POST" class="form-horizontal" role="form" style="margin-top:30px;">
        {% csrf_token %}
     <h2>Registrate</h2>  
    <div class="form-group">
    <label for="id_nombre" class="col-sm-3 control-label">Nombre:</label>
    <div class="col-sm-9">
          <input type="text" name="nombre" maxlength="100" required="" id="id_nombre" placeholder="Nombre" class="form-control" autofocus> 
    </div>
    </div>

  
    <div class="form-group">
    <label for="id_apellido" class="col-sm-3 control-label">Apellido:</label>
    <div class="col-sm-9">
    <input type="text" name="apellido" maxlength="100" required="" id="id_apellido" placeholder="Apellido" class="form-control" autofocus>
    </div>
    </div>

  
  <div class="form-group">
    <label for="id_cedula" class="col-sm-3 control-label">Cedula:</label>
    <div class="col-sm-9">
    <input type="text" name="cedula" maxlength="11" required="" id="id_cedula" placeholder="Cédula" class="form-control" autofocus>
    
</div>
</div>

  
<div class="form-group">
    <label for="id_telefono" class="col-sm-3 control-label">Telefono:</label>
    <div class="col-sm-9">
    <input type="text" name="telefono" maxlength="10" required="" id="id_telefono" placeholder="Telefono" class="form-control" autofocus>
</div>
</div>

  
<div class="form-group">
    <label for="id_grado_academico"  class="col-sm-3 control-label">Grado academico:</label>
    <div class="col-sm-9">
    <select name="grado_academico" required="" id="id_grado_academico"  class="form-control" autofocus style="height:33px;">
  <option value="" selected="">---------</option>

  <option value="PRIMARIO">Primario</option>

  <option value="SECUNDARIO">Secundario</option>

  <option value="UNIVERSITARIO">Universitario</option>

</select>
</div>
</div>

  
<div class="form-group">
    <label for="id_ocupacion"  class="col-sm-3 control-label">Ocupacion:</label>
    <div class="col-sm-9">
    <input type="text" name="ocupacion" maxlength="100" required="" id="id_ocupacion" placeholder="Ocupacion" class="form-control" autofocus>
</div>
</div>

  
  <div class="form-group">
    <label for="id_sexo"  class="col-sm-3 control-label">Sexo:</label>
    <div class="col-sm-9">
    <select name="sexo" id="id_sexo"  class="form-control" autofocus style="height:33px;">
  <option value="M">Masculino</option>

  <option value="F">Femenino</option>

</select>
</div>
</div>

  
  <div class="form-group">
    <label for="id_denominacion"  class="col-sm-3 control-label">Denominacion:</label>
    <div class="col-sm-9">
    <select name="denominacion" required="" id="id_denominacion"  class="form-control" autofocus style="height:33px;">
  <option value="" selected="">---------</option>

  <option value="CATOLICA">Católica</option>

  <option value="ADVENTISTA">Adventista</option>

  <option value="EVANGELICA">Evangélica</option>

  <option value="TESTIGO DE JEHOVA">Testigo de Jehova</option>

  <option value="MORMONA">Mormona</option>

  <option value="UNIVERSAL">Universal</option>

  <option value="CRISTIANA">Cristiana</option>

  <option value="OTRA">Otra</option>

</select>
</div>
</div>

  
  <div class="form-group">
    <label for="id_fecha_nacimiento"  class="col-sm-3 control-label">Fecha nacimiento:</label>
    <div class="col-sm-9">
    <label class="real">   
    <input type="text" name="fecha_nacimiento" required="" id="id_fecha_nacimiento" placeholder="fecha de nacimiento" class="form-control" autofocus style="width:367px;">
    </label>
</div>
</div>

  
  <div class="form-group">
    <label for="id_pais"  class="col-sm-3 control-label">Pais:</label>
    <div class="col-sm-9">
    <select name="pais" id="id_pais"  class="form-control" autofocus style="height:33px;">
  <option value="ARGENTINA">Argentina</option>

  <option value="BOLIVIA">Bolivia</option>

  <option value="BRASIL">Brasil</option>

  <option value="COLOMBIA">Colombia</option>

  <option value="COSTA RICA">Costa Rica</option>

  <option value="CUBA">Cuba</option>

  <option value="CHILE">Chile</option>

  <option value="ECUADOR">Ecuador</option>

  <option value="EL SALVADOR">El Salvador</option>

  <option value="GUATEMALA">Guatemala</option>

  <option value="HONDURAS">Honduras</option>

  <option value="MEXICO">México</option>

  <option value="NICARAGUA">Nicaragua</option>

  <option value="PANAMA">Panamá</option>

  <option value="PARAGUAY">Paraguay</option>

  <option value="PERU">Perú</option>

  <option value="REPUBLICA DOMINICANA" selected="">República Dominicana</option>

  <option value="URUGUAY">Uruguay</option>

  <option value="VENEZUELA">Venezuela</option>

</select>
</div>
</div>

  
  <div class="form-group">
    <label for="id_provincia"  class="col-sm-3 control-label">Provincia:</label>
    <div class="col-sm-9">
    <input type="text" name="provincia" maxlength="100" required="" id="id_provincia" placeholder="Provincia" class="form-control" autofocus>
</div>
</div>

  
  <div class="form-group">
    <label for="id_sector"  class="col-sm-3 control-label">Sector:</label>
    <div class="col-sm-9">
    <input type="text" name="sector" maxlength="100" required="" id="id_sector" placeholder="Sector" class="form-control" autofocus>
</div>
</div>

  
  <div class="form-group">
    <label for="id_email"  class="col-sm-3 control-label">Email:</label>
    <div class="col-sm-9">
    <input type="email" name="email" maxlength="254" required="" id="id_email" placeholder="Email" class="form-control" autofocus>
</div>
</div>


         <input type="submit" value="Guardar" class="btn btn-primary" name="_save"> 
    </form>

</div>

<style>
          body {
            background: url('https://static-communitytable.parade.com/wp-content/uploads/2014/03/rethink-target-heart-rate-number-ftr.jpg') fixed;
           background-size: cover;
       }
       
       *[role="form"] {
           max-width: 530px;
           padding: 15px;
           margin: 0 auto;
           border-radius: 0.3em;
           background-color: #f2f2f2;
       }
       
       *[role="form"] h2 { 
           font-family: 'Open Sans' , sans-serif;
           font-size: 40px;
           font-weight: 600;
           color: #000000;
           margin-top: 5%;
           text-align: center;
           text-transform: uppercase;
           letter-spacing: 4px;
       }
       
       
 </style>

{% endblock %}